.bloco02{
    display: flex;
    flex-direction: column;
    background-image: url(../imagens/bloco02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 2vh;
    justify-content: center;
    align-items: center;
}
.bloco02-div{   
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.bloco02-div article{
    background-color: rgba(255, 255, 255, 0.87);
    width: 28vw;
    height: 80%;
    max-width: 800px;
    border-radius: 10px;
    padding-top: 4vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 2vh;
}
.bloco02-div > article > h2{
    padding-bottom: 2vh;
}
.bloco02-div p{
    text-align: justify;
    text-indent: 30px;
    line-height: 18px;
    margin-bottom: 10px;
}
.bloco02-div h2{
    text-align: center;
}
.bloco02 h1{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: var(--cor1t);
    color: var(--cor2);
    font-size: 28px;
    font-family: var(--font1);
}
@media(max-width:1000px) {
    .bloco02-div{   
        display: flex;
        flex-direction: column;
    }
    .bloco02-div article{  
        width: 87vw;
        text-indent: none;
        margin-bottom: 2vh;
    }
    .bloco02-div p{  
        text-indent: 0px;
    }
}
@media(max-width:500px) {
    .bloco02 h1{
        font-size: 20px;
    }
    .bloco02 h2{
        font-size: 18px;
    }
    .bloco02 p{
        font-size: 14px;
    }
}