.bloco01{
    display: flex;
    columns: 1;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-image: linear-gradient( to right, var(--cor4t) , var(--cor5t)),url(../imagens/bloco01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    padding-left: 8%;

    color: var(--cor2);
    text-shadow: 3px 2px 2px #000000;
}
.bloco01 h1{
    color: #ff6400;
    font-size: 70px;
}
.bloco01 p{
    padding-right: 5%;
    max-width: 500px;
}
    
@media(max-width:600px) {
    .bloco01 h1{
        font-size: 46px ;
        text-shadow: 2px 1px 2px #000000;
    }
    .bloco01 h3{
        font-size: 15px;
    }
    .bloco01 p{
        font-size: 14px;
    }
}

@media(max-width:500px) {
    .bloco01 h1{
        font-size: 38px ;
    }
    .bloco01 h3{
        font-size: 12px;
    }
    .bloco01 p{
        font-size: 12px;
    }
}