header{
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    height: auto;
    width: 100%;
    box-shadow: 0px 0px 5px #ff6600a2;
}
nav{
    display: grid;
    grid-template-columns: auto 
    auto;
    width: 100%;
    height: 60px;
    color: var(--cor2);
    align-items: center;
}
nav h1{
    font-size: 38px;
    padding-left: 7%;
}
nav > h1 a{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: var(--cor3);
}
nav a{
    color: var(--cor2);
    text-decoration: none;
}
nav a.active, ul a:hover{
    color: #ff6600;
    transition-duration: 0.3s;
    text-shadow: 0px 2px 10px #ff6600;
}
nav ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    list-style: none;
    line-height: 25px;
    justify-items: end;
    padding-right: 8%;
}
nav > ul > li{
    letter-spacing: 2px;
}
.anime{
    color: var(--cor1);
    font-size: 22px;
    margin-right: 0.8vw;
    animation-name: anime;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-text-stroke-width: 0px;
}
@media(max-width:600px){
    nav > ul{
        grid-template-columns: auto auto;
    }
}

@media(max-width:500px){
    nav h1{
        font-size: 28px;
    }
    nav > ul> li{
        font-size: 12px;
    }
    .anime{
        font-size: 16px;
    }
}
@keyframes anime{
    0% {color: var(--cor1);}
    25% {color: var(--cor3);}
    50% {color: var(--cor3);}
}