.bloco01{
    display: flex;
    columns: 1;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-image: linear-gradient( to right, var(--cor4t), var(--cor5t)),url(imagens/imagem01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    padding-left: 8%;
}
.bloco01 h1{
    font-size: 70px;
    text-shadow: 2px 3px 6px #5e5e5eec;
}
.bloco01 h3{
    text-shadow: 2px 3px 6px #5e5e5eec;
}
.bloco01 p{
    padding-right: 5%;
}
    
@media(max-width:600px) {
    .bloco01 h1{
        font-size: 46px ;
    }
    .bloco01 h3{
        font-size: 15px;
    }
    .bloco01 p{
        font-size: 14px;
    }
}

@media(max-width:500px) {
    .bloco01 h1{
        font-size: 38px ;
    }
    .bloco01 h3{
        font-size: 12px;
    }
    .bloco01 p{
        font-size: 12px;
    }
}